DATABASE_URL=postgresql://postgres:Naveen@777@db.zybhdukbrhzzuwwpzzzq.supabase.co:5432/postgres

#BETTER_AUTH_SECRET=
BETTER_AUTH_SECRET==IUHHBJHBJHBEOINJKIUMOIJMIUFEIKHVHJBBFJKG

BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

NODE_ENV=developement